@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafaf9;
  --foreground: #1c1917;
  --font-mono: var(--font-geist-mono);
}

html {
  color-scheme: light;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
